@charset "utf-8";
@import url(./main.css);

:root {
    --color-white: #fff;
    --color-gnb: #333333;
    --color-red: #E1002A;
    --color-light-red: #e0002a;
    --color-dark-red: #d0112b;
    --color-grey: #98a2ac;
    --color-orange: #ee7421;
    --footer-bg: #303030;
}