@charset "utf-8";
@import url(./common.css);
@import url(./reset.css);
@import url(./layout.css);

/* header */
.top-gnb {
  position: fixed;
  width: 100%;
  height: 30px;
  border-bottom: 1px solid #f5f5f5;
  background: #f5f5f5;
  z-index: 9999;
}
.top-gnb a {
  text-align: center;
  position: absolute;
  right: 0;
  width: 185px;
  height: 100%;
  line-height: 30px;
  display: block;
  color: #fff;
  background: var(--color-red);
  font-size: 14px;
}
.h-group {
  height: 80px;
  padding: 0 30px;
  overflow: visible;
  position: fixed;
  top: 30px;
  left: 0%;
  z-index: 101;
  width: 100%;
  background-color: #fff;
}
header .h-group .top-logo a {
  background: url(../image/logo.png) no-repeat;
  width: 110px;
  height: 44px;
  background-size: 110px 44px;
  display: block;
  font-size: 0;
  display: inline-block;
}
.h-group .h-box .h-gnb {
  display: block;
  width: 900px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.h-group .h-box .h-gnb li {
  display: inline-block;
  text-align: center;
  width: 25%;
  margin-left: -5px;
}
.h-group .h-box .h-gnb li a {
  display: block;
  font-size: 20px;
  color: var(--color-gnb);
  cursor: pointer;
  line-height: 100%;
  text-align: center;
  position: relative;
}
.util-menu-pc {
  width: 30%;
}
.util-menu-pc .btn-lang {
  display: inline-block;
  text-align: left;
  vertical-align: top;
}
.util-menu-pc .btn-lang ul {
  text-align: right;
  padding-top: 30px;
  position: absolute;
  right: 0;
  top: 0;
}
.util-menu-pc .btn-lang ul li {
  display: inline-block;
}
.util-menu-pc .btn-lang ul li a {
  display: inline-block;
  padding-right: 15px;
  font-size: 12px;
}
.util-menu-pc .btn-lang ul li:nth-of-type(2) a {
  color: var(--color-light-red);
}
/* section main-banner */
.main-banner {
  padding-top: 110px;
}
.main-banner .container img {
  max-width: 100%;
  display: block;
}
.main-banner .container {
  position: relative;
  z-index: -1;
}
.main-banner .container .main-banner-desc {
  display: inline-block;
  color: var(--color-white);
}
.main-banner .container .main-banner-desc h1 {
  font-size: 72px;
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(0, -50%);
  padding-bottom: 20px;
}
.main-banner .container .main-banner-desc p {
  position: absolute;
  top: 60%;
  left: 10%;
  transform: translate(0, -50%);
  font-size: 36px;
  margin: 0 0 5px;
  font-weight: lighter;
}

/* section com-info */
.com-info {
  z-index: -99999;
}
.com-info .container {
  padding-top: 80px;
  display: flex;
  justify-content: space-between;
  max-width: 1600px;
}
.com-info .container li {
  margin-right: 30px;
  position: relative;
}
.com-info .container li a {
  display: inline-block;
  overflow: hidden;
}
.com-info .container li .info-img {
  width: 100%;
  height: 100%;
  transition: all 0.6s;
}
.com-info .container .com-info-desc {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, 0);
  color: var(--color-white);
  text-align: center;
}
.com-info .container li:hover .info-img {
  cursor: pointer;
  transform: scale(1.1);
}
.com-info .container .com-info-desc p:nth-child(1) {
  font-size: 38px;
}
.com-info .container .com-info-desc p:nth-child(2) {
  font-size: 26px;
  margin-top: 35px;
}
/* section media-center */
.media-center > h1 {
  font-size: 40px;
  font-family: "nanum-square-eb", sans-serif;
  color: #d0112b;
  text-align: left;
  margin-left: 30px;
  padding-top: 50px;
}
.media-center {
  /* max-width: 100%; */
  height: auto;
}
.media-center ul li img {
  width: 770px;
  height: 520px;
}
.media-center ul li {
  display: inline-block;
  float: left;
  position: relative;
  overflow: hidden;
  border: 1px solid #000;
  /* width: 100%; */
}
.media-center ul li .text-box {
  border: 1px solid #000;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 110px;
  padding: 17px 0 0 20px;
  color: var(--color-white);
  background: rgba(0, 0, 0, 0.6);
  line-height: 1.3;
  font-size: 30px;
  padding-right: 20px;
}
/* section invest-info */

/* footer */
footer {
  border: 1px solid #000;
}
